html,
:root {
    --white: white;
    --body: #e5e5e5;
    --subtext: #a0a0a0;
    --grey-600: #707070;
    --grey-700: #4d4d4d;
    --highlight: #252525;
    --bg-alt: #1c1c1c;
    --bg: #0c0c0c;
    --black: black;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: var(--body);
    background: var(--bg);
}


p {
    line-height: 1.75em;
}

a {
    text-decoration: none;
    color: white;
}

a.link {
    text-decoration: none;
    color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--grey-700);
    transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.link:hover {
    border-bottom-color: var(--grey-600);
    color: var(--body);
}

.container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
}


.section {
    margin-top: 50px;
}


.footer {
    border-top: 1px solid #252525;
    padding: 16px 0;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0.4rem 0;
}

.svg-wrapper {
    position: relative;
    left: -50px;
    right: -50px;
    height: 60px;
    overflow: visible;
}

#string {
    fill: none;
    stroke: white;
    stroke-width: 3;
}