---
layout: default
---

<!-- KaTeX CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
/>

<!-- KaTeX JS -->
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
      {left: '\\\\(', right: '\\\\)', display: false},
      {left: '\\\\[', right: '\\\\]', display: true}
    ]
  });"
></script>

<article class="blog-post single-post">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>
  {{ content }}
</article>
